.Result {
    margin: 20px;

    &__Card {
        display: grid;
        grid-template: 62px 62px / 120px 85px 85px 85px;
        grid-gap: 10px;
        background-color: #2f3136;
        padding: 15px;

        @media screen and (max-width: 550px) {
            grid-template: 210px 62px 62px 62px / 85px 85px;
        }
    }

    &__Hero {
        background-color: #202225;
        grid-area: 1 / 1 / 3 / 2;
        position: relative;

        @media screen and (max-width: 550px) {
            grid-area: 1 / 1 / 2 / 3;
        }
    }

    &__Item {
        background-color: #202225;
    }

    img {
        width: 100%;
        height: 100%;
        animation: appear 0.2s ease;
    }
}

.Attrs {
    position: absolute;
    bottom: 5px;
    left: 0;
    display: flex;
    width: 100%;
    padding: 0 10px;
    justify-content: space-around;

    &__Item {
        width: 20px;
        height: 20px;
        cursor: pointer;
        background-color: #202225;
        border-radius: 50%;
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            transition: opacity 0.2s ease;
        }

        &:hover::before {
            opacity: 0.7;
        }

        &--Disabled::before {
            opacity: 0.3;
        }

        &--str::before {
            background-image: url(/attr-str.png);
        }

        &--agi::before {
            background-image: url(/attr-agi.png);
        }

        &--int::before {
            background-image: url(/attr-int.png);
        }
    }
}

@keyframes appear {
    0% {
        transform: scale(1.05);
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}
